@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100vw;
  font-size: var(--base-font-size);
}

#root {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}
